{
    "presets": [
      ["env", {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 10"]
        },
        "useBuiltin": true,
        "debug": true
      }],
      "stage-2"
    ],
    "env": {
      "development": {
        "plugins": ["transform-runtime"]
      },
      "test": {
        "presets": ["env", "stage-2"],
        "plugins": ["istanbul"]
      }
    }
  }